/*Div properties*/

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Muli', sans-serif;
  font: 14px/22px 'Muli';
  background-color: #FAFAFA;
  color: #4D4D4D;
}

.container-fluid {
	max-width: 1100px;
}

.row {
	margin: 50px 0px 100px 0px;
}

.nav {
}

.name {
	display: inline-block;
	padding-left: 8px;
}

.logo {
	display: inline-block;
}

.nav-link {
  height: 40px;
  float: right;
}

.featured {
}

.featured-text {
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.15);
	z-index: 2;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	padding: 25px 25px 30px 25px;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.featured-text:hover {
	box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.15);
	transform: scale(1.01);
}

.featured-image {
	height: 500px;
	background-image: url('../images/coffee_hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.08);
}

.sm-featured-image {
	background-image: url('../images/ako_hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.08);

}

.sm-featured-text {
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.15);
	background-color: white;
	z-index: 2;
	padding: 5px 25px 30px 25px;
	margin-left: -15%;
	margin-top: 50px;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.sm-featured-text:hover {
	box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.15);
	transform: scale(1.01);
}

.xs-featured-image {
	background-image: url('../images/highlight_hero.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	padding: 0px;
	position: relative;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.08);
	-moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.xs-featured-image:hover {
	box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.08);
	transform: scale(1.01);
}

.xs-featured-image:hover .xs-featured-text {
	visibility: visible;
	height: 23%;
}

.xs-featured-text {
	background-color: rgba(255,255,255,0.95);
	padding: 2px 10px 20px 15px;
	box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.08);
	visibility: hidden;
	width: 100%;
	height: 0px;
	position: absolute;
    bottom: 0;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#highlight.xs-featured-image {
	margin-top: -125px;
}

#idea {
	background-image: url('../images/idea_hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#scout.sm-featured-text {
	margin-left: 10%;
}

#scout.sm-featured-image {
	background-image: url('../images/scoutposters_hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: -170px;
}

#rayel.sm-featured-image {
	background-image: url('../images/rayel_hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#cards.xs-featured-image {
	background-image: url('../images/businesscards_hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: -120px;
}

#arch.xs-featured-image {
	background-image: url('../images/architecture_hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#greiman.sm-featured-image {
	background-image: url('../images/greiman_hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: -170px;

}

#greiman.sm-featured-text {
	margin-left: 10%;
}

.test-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FAFAFA;
	z-index: 10;
	opacity: 0;
	transform: translateX(100%);
	pointer-events: none;
	transition: all 1s;
}

.is-open {
	transform: none;
	opacity: 1;
	pointer-events: auto;
}

/*Styling for text*/

h1 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #363636;
	font-size: 32px;
	line-height: 40px;
	text-decoration: none;
}

h2 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #363636;
	font-size: 22px;
	line-height: 30px;
}

h3 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #363636;
	font-size: 16px;
	line-height: 24px;
}

h4 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.5px;
	color: #363636;
	line-height: 22px;

}

h5 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

a {
	text-decoration: none;
	color: #363636;
}

.nav-link a {
	text-decoration: none;
	font-weight: 400;
	font-size: 12px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
 	-moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

a:hover {
	color: #363636;
	text-decoration: underline;
}

h1.homepage:hover {
	color: #642240;
}
h2.homepage:hover {
	color: #642240;
}

hr {
	border-bottom: 0.25px solid #363636;
}

h6 {
	font-size: 14px;
}


/*Coffee*/

.detail-feature-image {
	height: 350px;
	background-image: url('../images/coffee_hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.08);
}

.detail-small-image {
	height: 275px;
	margin: 15px;
}

#detail-title.row {
	margin: 0px 0px 100px 0px;

}

#sketch-one.detail-small-image {
	background-image: url('../images/coffee_logosketch1.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#sketch-two.detail-small-image {
	background-image: url('../images/coffee_logosketch2.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.detail-featured-text {
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.15);
	z-index: 2;
	padding: 5px 25px 30px 25px;
	margin-left: -10%;
	margin-top: 40px;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#labels.detail-featured-text {
	margin-left: 0;
}

.detail-large-image {
	height: 300px;
}

.detail-text-large {
	padding-left: 30px;
}

#logos.detail-large-image {
	background-image: url('../images/coffee_3logos.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#label.detail-large-image {
	background-image: url('../images/coffee_label.jpg');
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	margin-top: -250px;
}

#bottles.detail-large-image {
	background-image: url('../images/coffee_bottles.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 15px;
	height: 400px;
}

/*Media Queries*/

@media screen and (max-width: 500px) {

	h1 {
		font-size: 26px;
		line-height: 32px;
	}

	h2 {
		font-size: 18px;
		line-height: 26px
	}

	body {
		font-size: 14px;
		line-height: 22px;
	}

	.row {
		margin: 25px 0px 50px 0px;
	}

	.featured-text {
		top: 58%;
		margin-top: -100px;
		padding: 25px 25px 30px 25px;
		-moz-transition: all .2s ease-in;
    	-o-transition: all .2s ease-in;
    	-webkit-transition: all .2s ease-in;
    	transition: all .2s ease-in;
	}

	.featured-image {
		height: 200px;
	}

	.sm-featured-image {
		height: 180px;
	}

	.xs-featured-image {
		height: 180px;
	}

	.nav {
		padding-top: 20px;
	}

	.featured {
		padding-bottom: 200px;
	}

	.detail-small-image {
	height: 160px;
	margin: 15px;
	}

	.detail-featured-text {

	}

}
